<!-- Cintillo Superior -->
<div class="top-bar">
  <div class="top-left">
    <span>
      <i class="fa-solid fa-user"></i> Usuario:
      <b>{{ userName }}</b>
    </span>
    <!-- Menú desplegable del usuario -->
    <ul *ngIf="userMenuOpen" class="user-menu">
      <li (click)="switchLanguage('es')"><i class="fa-solid fa-globe"></i> Español</li>
      <li (click)="switchLanguage('en')"><i class="fa-solid fa-globe"></i> English</li>
    </ul>
  </div>
  <div class="top-right">
    <i class="fa-solid fa-globe" (click)="toggleUserMenu()"></i> {{ currentLanguage }}
    <i class="fa-solid fa-question-circle"></i>
    <i class="fa-solid fa-power-off" (click)="logout()"></i>
  </div>
</div>

<!-- Navbar Principal -->
<nav class="navbar">
  <span class="logo">Neo4Secure</span>
  <ul [class.open]="menuOpen" class="nav-links">



    <!-- Opción de Cuentas (solo Admin) -->
    <li>
      <a (click)="onClickAccounts()">
        <i class="fa-solid fa-building-columns"></i> Cuentas
      </a>
    </li>

    <!-- Opción de Realizar Pago (solo client) -->
    <li>
      <a (click)="onClickPayment()">
        <i class="fa-solid fa-money-bill-transfer"></i> Realizar Pago
      </a>
    </li>

    <!-- Configuración (podría ser para todos, ajusta según necesidad) -->
    <li>
      <a (click)="onClickSettings()">
        <i class="fa-solid fa-cog"></i> Configuración
      </a>
    </li>
  </ul>

  <!-- Icono del menú hamburguesa -->
  <div class="menu-icon" (click)="toggleMenu()">
    <i class="fa-solid fa-bars"></i>
  </div>
</nav>
